.container {
  padding: 24px;
}

.container h1 {
  color: var(--ceibal-black);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  text-decoration-line: underline;
}

.container h2 {
  font-size: 24px;
  font-weight: 600;
}

.space {
  justify-content: space-between;
  margin-right: 15%;
  margin-bottom: 64px;
}

.container h5 {
  font-size: 20px;
}

.stats {
  margin-top: 32px;
  gap: 32px;
}

.stats.border {
  border: 1px solid var(--ceibal-grey);
  padding: 24px;
}

.audio {
  margin: auto;
}

@media (max-width: 500px) {
  .container {
    padding: 8px;
  }
  .space {
    margin-right: 5%;
  }
}