.button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--ceibal-white);
  outline: none;
  border: 0;
  border-radius: 12px;
  transition: background-color 0.5s, transform 0.5s;
  animation: appear 0.5s ease-in-out 1s;
}

.button.big {
  background: var(--ceibal-action-color);
  padding: 25px 20px;
}

.button.big.large {
  padding-inline: 120px;
  gap: 16px;
}

.button.large {
  padding: 12px 80px;
  font-size: 20px;
  gap: 8px;
}

.button.big.no-fill,
.button.no-fill {
  background: none;
}

.button.big div:nth-child(2) {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
}

.button.no-fill div:nth-child(2) {
  color: var(--ceibal-green-terciary);
}

.outlined {
  border: 2px solid var(--ceibal-green-terciary);
  border-radius: 6px;
}

.button.big.stop-fill {
  background-color: var(--ceibal-pink);
}

.button.large.blue-fill {
  background-color: var(--ceibal-sky-blue);
}

.button.large.red-fill {
  background-color: var(--ceibal-red);
}

.rounded {
  cursor: pointer;
  border-radius: 50px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
}

.rounded.black {
  max-width: 352px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  background-color: var(--ceibal-black);
  color: var(--ceibal-white);
}

.rounded.white {
  max-width: 352px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  background-color: var(--ceibal-white);
  color: var(--ceibal-black);
  border: 1px solid var(--ceibal-black);
}

.card-button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--ceibal-green);
  background: #f9f9f9;
  color: var(--ceibal-black);
  padding: 12px 16px;
  gap: 18px;
  width: 85%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card-button:hover {
  cursor: pointer;
  transform: scale(1.25);
  background-color: #ffcc80;
}

.card-button img {
  max-height: 70px;
  max-width: 70px;
}

.card-button span {
  flex: 1;
  flex-direction: column;
  text-align: start;
  font-size: 24px;
}

.icon-button-container {
  display: flex;
  background-color: transparent;
  border: none;
}

.icon-button-container:hover {
  cursor: pointer;
}

.icon-button-normal {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.icon-button-big {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.icon-button-normal:active,
.icon-button-big:active {
  transform: scale(0.75);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-col {
  gap: 16px;
  align-items: center;
}

.image {
  overflow: hidden;
  background-size: cover;
}

.image-btn {
  cursor: pointer;
  position: relative;
  background: transparent;
  width: 220px;
  height: 220px;
  border: 1px solid var(--ceibal-black);
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: var(--ceibal-overlay);
}

.image-btn.silver img {
  filter: brightness(2) grayscale(100%);
}

.image-btn.gold img {
  filter: brightness(1.5) sepia(1.5) saturate(2.5);
}

.btn-col span {
  font-size: 14px;
  text-transform: uppercase;
}

.overlay span {
  font-size: 24px;
  font-weight: 600;
  color: var(--ceibal-white);
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .card-button {
    border-radius: 8px;
    gap: 8px;
    padding: 8px 16px;
  }

  /* Disable hover for mobile.  */
  .card-button:hover {
    transform: scale(1);
    background: #e7b062;
  }

  .card-button:active {
    transform: scale(1.25);
    background-color: #ffcc80;
  }

  .card-button img {
    max-height: 50px;
    max-width: 50px;
  }

  .card-button span {
    font-size: 18px;
  }
}
