.button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--ceibal-white);
  outline: none;
  border: 0;
  border-radius: 12px;
}

.button.big {
  background: var(--ceibal-action-color);
  padding: 25px 20px;
}

.button.big.large {
  padding-inline: 120px;
  gap: 16px;
}

.button.large {
  padding: 12px 80px;
  gap: 8px;
}

.button.big.no-fill, .button.no-fill {
  background: none;  
}

.button.big div:nth-child(2) {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
}

.button.big.no-fill div:nth-child(2), .button.no-fill div:nth-child(2) {
  font-size: 20px;
  color: var(--ceibal-green-terciary);
}

.outlined {
  border: 2px solid var(--ceibal-green-terciary);
  border-radius: 6px;
}

.button.big.stop-fill {
  background-color: var(--ceibal-pink);
}
