.button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--ceibal-green);
  color: var(--ceibal-black) !important;
  outline: none;
  border: 0.5px solid var(--ceibal-black);
  border-radius: 25px;
  height: 49px;
  padding: 8px 16px;
}

.button:hover {
  background: var(--ceibal-green-hover);
}

.record-fill,
.stop-fill {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 0.5px solid var(--ceibal-black);
  background-color: red;
}

.stop-fill {
  border-radius: 0;
}
