# DATABASE_URL format: postgresql://<user>@localhost:5432/<db_name>?schema=public
# example: postgresql://farchi@localhost:5432/ceibal?schema=public
# example with password: postgresql://farchi:mypassword@localhost:5432/ceibal?schema=public
DATABASE_URL=

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAUEXQNHXBSZKUNT4N
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=ceibal-grabaciones

AUDIOLIB_URL=http://audiolib:8000/process_audio
