/* Variables de estilo globales */
:root {
  --ceibal-green: #005f28;
  --ceibal-green-secondary: #50af32;
  --ceibal-green-terciary: #00a096;
  --ceibal-black: #000000;
  --ceibal-black-secondary: #212529;
  --ceibal-dark-grey: #2d3748;
  --ceibal-action-color: #2d2373;
  --ceibal-sky-blue: #00a0e1;
  --ceibal-pink: #c80f64;
  --ceibal-red: #be0a0a;
  --ceibal-white: #ffffff;
  --ceibal-light-grey: #ecebeb;
  --ceibal-light-grey-secondary: #edf2f7;
  --ceibal-grey: #808080;
  --ceibal-grey-secondary: #a0aec0;
  --ceibal-overlay: rgba(0, 0, 0, 0.4);
  --ceibal-student-background: #faebdf;
  --mobile-breakpoint: 500px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  padding-inline: 20px;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  background-color: white;
}

#header a {
  margin-right: 50px;
  cursor: pointer;
}

#header div {
  text-align: end;
  /* Make sure all divs are equal size so they are properly distributed with
  container's justify-content. */
  width: 142px;
}

#header div img {
  max-height: 77px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

main > .container {
  margin: 72px;
  gap: 64px;
}

#app-logo {
  width: 142px;
  height: auto;
  pointer-events: none;
}

hr {
  margin: 0;
  background-color: var(--ceibal-green);
  height: 4px !important;
}

h1 {
  color: var(--gray-gray-700, --ceibal-dark-grey);
  font-size: 24px;
  font-weight: 600;
}

#recorder.row {
  align-items: center;
  gap: 32px;
}

.progress {
  gap: 8px;
  width: 100%;
}

/* Animaciones */

@keyframes vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

/* Mobile */

@media (max-width: 500px) {
  main > .container {
    margin: 24px;
    gap: 64px;
  }
}

/* Fix Chakra */

.css-bx0blc {
  width: auto !important;
}

.css-70qvj9 {
  flex-wrap: wrap;
}

.css-1zts0j {
  text-transform: none !important;
}
