/* Variables de estilo globales */
:root {
  --ceibal-green: #ccecea;
  --ceibal-green-hover: #66c6c0;
  --ceibal-black: #000000;
  --ceibal-action-color: #2D2373;
  --ceibal-white: #FFFFFF;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Temporal, para darle relleno al espacio entre el boton de grabar y el header */
  height: 250px;
}

#header {
  margin-inline: 20px;
  margin-right: 50px;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  height: 110px;
}

#header a {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

#app-logo {
  width: 142px;
  height: auto;
  pointer-events: none;
}

hr {
  margin: 0;
  background-color: #005f28;
  height: 4px;
}
