/* Variables de estilo globales */
:root {
  --ceibal-green: #ccecea;
  --ceibal-green-hover: #66c6c0;
  --ceibal-black: #111111;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Temporal, para darle relleno al espacio entre el boton de grabar y el header */
  height: 250px;
}

#header {
  margin-inline: 100px;
  align-items: center;
  gap: 32px;
}

.row {
  display: flex;
  flex-direction: row;
}

#app-logo {
  width: 142px;
  height: auto;
  pointer-events: none;
}

hr {
  background-color: #008078;
  height: 4px;
}