.table-border {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
}

.main-table {
  font-size: 14px;
}

.main-table tbody tr:nth-child(odd) {
  background-color: var(--ceibal-light-grey-secondary);
}

.simple .main-table tbody tr {
  background-color: white;
}

.main-table td:last-child {
    text-align: right;
}

.simple .main-table tbody td {
  text-align: left;
}

.main-table a {
  color: var(--ceibal-action-color);
  font-weight: 700;
}

.read-list-item {
  padding: 8px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--ceibal-black);
  background: inherit;
  background-image: url(../../assets/images/chevron_right.svg);
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: center;
  background-size: 16px;
  transition: background-color ease-in-out 0.2s;
  margin-bottom: 4px;
}

.read-list-item:hover{
  background-color: #ffcc80;
}

.read-list-item:last-child {
  border-bottom: 1px solid var(--ceibal-black);
  margin-bottom: 0px;
}
