.background {
  display: flex;
  width: 100%;
  height: calc(100% - 77px);
  background-color: var(--ceibal-student-background);
  align-items: center;
  padding: 36px 0px 0px 0px;
}

.background h1 {
  color: var(--ceibal-black);
  font-size: 32px;
  margin: 0px;
}

.background h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 0px;
}

.background .student-name {
  color: #c80f64;
  font-style: italic;
  font-weight: 600;
}

.student-name span {
  font-style: normal;
  color: var(--ceibal-black);
}

.background .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  gap: 36px;
}

@media (max-width: 500px) {
  .background {
    padding: 24px 0px;
  }

  .background h1 {
    font-size: 24px;
  }

  .background h2 {
    margin-top: 8px;
    font-size: 18px;
  }

  .background .student-name {
    margin-top: 4px;
  }

  .background .button-container {
    margin-top: 24px;
    gap: 24px;
  }
}
