.accordion {
    border: 1px solid var(--ceibal-black);
    border-radius: 8px;
}

.primaryAccordion {
    margin-bottom: 32px;
}

.accordion > span.closed {
    border-radius: 6px;
}

.accordion > span {
    font-size: 24px;
    font-weight: 500;
    padding-block: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: var(--ceibal-green-secondary);
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: box-shadow linear 0.2s;
    justify-content: center;
    align-items: center;
}

.accordion > span div {
    margin-left: auto;
}

.accordion > span div img {
    width: 16px;
    height: 16px;
}

.accordion > span div:last-child {
    margin-right: 16px;
    transition: transform linear 0.1s;
}

.accordion > span:not(.closed) div:last-child {
    transform: rotate(-90deg);
}

.accordion span:not(.closed):focus {
    box-shadow: 0px 0px 8px 6px rgba(80, 175, 50, 0.8);
}

.accordion > span.secondary {
    background-color: var(--ceibal-sky-blue);
    font-size: 16px;
    text-align: left;
    padding-left: 8px;
    width: auto;
    justify-content: left;
    align-items: center;
}

.accordion > span.secondary div:first-child {
    margin-left: unset;
}

.accordion span.secondary:not(.closed):focus {
    box-shadow: 0px 0px 8px 6px rgba(0, 160, 225, 0.8);
}

.accordion .body.open {
    padding: 8px;
}