.accordeon {
    border: 1px solid var(--ceibal-black);
    border-radius: 8px;
}

.accordeon > span.closed {
    border-radius: 6px;
}

.accordeon > span {
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding-block: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: var(--ceibal-green-secondary);
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: box-shadow linear 0.2s;
}

.accordeon span:not(.closed):focus {
    box-shadow: 0px 0px 8px 6px rgba(80, 175, 50, 0.8);
}

.accordeon > span.secondary {
    background: var(--ceibal-sky-blue);
    font-size: 16px;
    text-align: left;
    padding-left: 8px;
    width: auto;
}

.accordeon span.secondary:not(.closed):focus {
    box-shadow: 0px 0px 8px 6px rgba(0, 160, 225, 0.8);
}

.accordeon .body.open {
    padding: 8px;
}