.progress-bar {
  position: relative;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: radial-gradient(closest-side, #346608 79%, transparent 80% 100%),
    conic-gradient(#4c950c 92%, white 0);
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar.small {
  width: 180px;
  height: 180px;
  gap: 16px;
}

.progress-bar progress {
  visibility: hidden;
  width: 0;
  height: 0;
}

.progress-bar span {
  position: relative;
  font-weight: 600;
  font-size: 31px;
  line-height: initial;
  color: var(--ceibal-white);
}

.progress-bar.small span {
  font-size: 24px;
}

.progress-bar span:first-child {
  font-size: 80px;
}

.progress-bar.small span:first-child {
  font-size: 48px;
}

.progress-track {
  margin-inline: 10%;
  border-radius: 100px;
  min-height: 32px;
  border: 1px solid var(--ceibal-black);
  background: var(--ceibal-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.progress-track div {
  text-align: center;
  padding: 8px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.with-progress div {
  background: var(--ceibal-green-terciary);
}

.with-no-progress div {
  background: var(--ceibal-green-white);
}

.progress-value {
  color: var(--ceibal-white);
}

.no-progress {
  color: var(--ceibal-black);
}

@media (max-width: 500px) {
  .progress-bar {
    width: 135px;
    height: 135px;
  }
  .progress-bar span {
    font-size: 16px;
  }
  .progress-bar span:first-child {
    font-size: 40px;
  }
}
