.container {
  padding: 24px;
}

.filters {
  justify-content: left;
  margin-top: 64px;
  margin-bottom: 24px;
  gap: 40px;
}

.table-border {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #E2E8F0;
}

.main-table {
  font-size: 14px;
}

.main-table tbody tr:nth-child(odd) {
  background-color: var(--ceibal-light-grey-secondary);
}

.main-table a {
  color: var(--ceibal-action-color);
  text-align: right;
  font-weight: 700;
}

.edit-modal {
  gap: 24px;
  margin-bottom: 24px;
}

.edit-modal > div {
  justify-content: center;
  gap: 24px;
}

.add-class {
  justify-content: space-between;
  margin-bottom: 12px;
}
