.input-login {
  background-color: var(--ceibal-light-grey-secondary);
  width: -webkit-fill-available;
  border: none;
  border-radius: 6px;
  padding: 14px 16px;
  font-size: 18px;
}

.input-date {
  padding: 6px 8px 6px 12px;
  border-radius: 6px;
  border: 1px solid var(--ceibal-grey);
  background: var(--ceibal-white);
}

.input-login::placeholder {
  color: var(--ceibal-grey-secondary);
}

.file-input {
  position: relative;
  display: flex;
  cursor: pointer;
}

.file-input input {
  cursor: pointer;
  opacity: 0;
  width: 300px;
}

.file-input input::-webkit-file-upload-button {
  cursor: pointer;
}

.file-input > div {
  cursor: pointer;
  z-index: -1;
  position: absolute;
  align-items: center;
  gap: 16px;
  top: 0;
}

.file-input button {
  z-index: -1;
  display: flex;
  padding: 8px 16px;
  background: var(--ceibal-green);
  border: 1px solid var(--ceibal-green);
  border-radius: 24px;
  color: var(--ceibal-white);
  font-weight: 600;
  cursor: pointer;
}
